@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,300i,400,400i,600,600i|Barlow:300,300i,600,600i&display=swap");
.vw-100 {
  margin: 0 auto;
  width: 100%;
}

.vw-100 svg {
  width: 100%;
}

.vw-inside {
  max-width: 1000px;
  padding: 3em;
  margin: 0 auto;
}

.mobile {
  width: 100vw;
}

@media screen and (min-width: 700px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .wide-view {
    display: none;
  }
}

.homzhub {
  background: linear-gradient(55deg, #64A2FF, 80%, rgba(255, 255, 255, 0.637) 170%);
}

.law {
  background: linear-gradient(55deg, #5181D6, 80%, rgba(255, 255, 255, 0.637) 170%);
}

.motion {
  background: linear-gradient(55deg, #E2A851, 80%, rgba(255, 255, 255, 0.637) 170%);
}

.duct {
  background: linear-gradient(55deg, #3FA887, 80%, rgba(255, 255, 255, 0.637) 170%);
}

.shop {
  background: linear-gradient(55deg, #FF5757, 80%, rgba(255, 255, 255, 0.637) 170%);
}

.white {
  background: linear-gradient(55deg, #cccccc, 80%, rgba(255, 255, 255, 0.637) 170%);
}

.e-com {
  background: linear-gradient(55deg, #DE4F4F, 80%, rgba(255, 255, 255, 0.637) 170%);
}

.soon {
  background: linear-gradient(55deg, black, 80%, rgba(255, 255, 255, 0.637) 170%);
}

#we .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -ms-grid-rows: (12em)[3];
      grid-template-rows: repeat(3, 12em);
}

#we .grid-container div {
  padding: 1em;
}

@-webkit-keyframes page-trasition {
  0% {
    height: 30vmin;
  }
  100% {
    height: 80vh;
  }
}

@keyframes page-trasition {
  0% {
    height: 30vmin;
  }
  100% {
    height: 80vh;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1em;
  scroll-behavior: smooth;
  position: relative;
}

p {
  font-family: 'Barlow', sans-serif;
  max-width: 440px;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}

h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  max-width: 600px;
  margin: 1em 0;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-transform: capitalize;
  margin-bottom: 1.2em;
}

h4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 200;
}

.index .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

.index section {
  width: 10vmin;
  height: 60vmin;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  padding-top: 100px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 700px) {
  .index section {
    height: 80vh;
  }
  .index section:hover {
    top: 10;
  }
}

.index section .container {
  width: 80vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

@media screen and (min-width: 700px) {
  .index section .container {
    width: 1200px;
  }
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
}

.contact snap {
  position: relative;
  width: 40px;
  margin-right: 30px;
}

.contact snap svg {
  position: absolute;
  width: 20px;
  top: 3px;
}

.case-1 .inside-box {
  margin-top: 10vmin;
}

@media only screen and (max-width: 800px) {
  .case-1 .inside-box {
    margin-top: 20vmax;
  }
}

.case-1 .inside-box .page {
  margin: 5vmin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 800px) {
  .case-1 .inside-box .page {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 8vmin 1vmin;
  }
}

.case-1 .inside-box .page div {
  padding: 8vmin;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 800px) {
  .case-1 .inside-box .page div {
    padding: 1.8vmin;
  }
}

.case-1 .inside-box .page .screen img {
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 30px 30px 2px #F8F8F8;
          box-shadow: 30px 30px 2px #F8F8F8;
  border: 1px #eeeeee solid;
}

.case-1 .inside-box .duct-img {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 900px) {
  .case-1 .inside-box .duct-img {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.case-1 .inside-box .duct-img .screen {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.case-1 .inside-box .duct-img .screen img {
  max-width: 30vmax;
}

@media only screen and (max-width: 900px) {
  .case-1 .inside-box .duct-img .screen img {
    max-width: 100vmin;
  }
}

.bg-transperent {
  background-color: rgba(255, 255, 255, 0.961);
}

.case-1 .inside-box {
  margin-top: 10vmin;
}

@media only screen and (max-width: 800px) {
  .case-1 .inside-box {
    margin-top: 20vmax;
  }
}

.case-1 .inside-box .page {
  margin: 5vmin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 800px) {
  .case-1 .inside-box .page {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 8vmin 1vmin;
  }
}

.case-1 .inside-box .page div {
  padding: 8vmin;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 800px) {
  .case-1 .inside-box .page div {
    padding: 1.8vmin;
  }
}

.case-1 .inside-box .page .screen img {
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 30px 30px 2px #F8F8F8;
          box-shadow: 30px 30px 2px #F8F8F8;
  border: 1px #eeeeee solid;
}

.case-1 .inside-box .duct-img {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 900px) {
  .case-1 .inside-box .duct-img {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.case-1 .inside-box .duct-img .screen {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.case-1 .inside-box .duct-img .screen img {
  max-width: 30vmax;
}

@media only screen and (max-width: 900px) {
  .case-1 .inside-box .duct-img .screen img {
    max-width: 100vmin;
  }
}

#approach h2 {
  letter-spacing: 0em;
}

.page-loaded {
  visibility: hidden;
}

.logo-loading {
  padding: 50px;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.circle {
  display: inline-block;
  width: 3px;
  height: 40px;
  border-radius: 2px;
  margin: 0px 5px;
  -webkit-animation: wave 1.5s ease-in-out infinite;
          animation: wave 1.5s ease-in-out infinite;
}

.circle .circle-1 {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.circle .circle-2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.circle .circle-3 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

@-webkit-keyframes wave {
  30% {
    background-color: #f0f0f0;
  }
  0%, 60%, 100% {
    background-color: #dadada;
  }
}

@keyframes wave {
  30% {
    background-color: #f0f0f0;
  }
  0%, 60%, 100% {
    background-color: #dadada;
  }
}

.vw-inside {
  max-width: 1000px;
  padding-top: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .vw-inside {
    padding: 0.5em;
    padding-top: 200px;
  }
}

@media screen and (max-width: 700px) {
  .vw-inside {
    width: 100%;
    margin: 0;
  }
}

.margin-top-minus {
  margin-top: -300px;
}

@media screen and (min-width: 700) {
  .margin-top-minus {
    margin-top: -6000px;
  }
}

@media screen and (min-width: 1300) {
  .margin-top-minus {
    margin-top: -850px;
  }
}

#banner {
  height: 100vh;
  position: relative;
}

#banner .container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#banner .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: -1;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */