@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,600,700|Rubik:300,400&display=swap');
$font-color: #252525;
$font-color-alt: rgb(235, 235, 235);
$trigger-screen: 700px;

@mixin linear-gradient-alt($alt-color) {
    background: linear-gradient(55deg, $alt-color, 80%, rgba(255, 255, 255, 0.637) 170%);
}




body,
html {
    color: $font-color;
    margin: 0px;
    padding: 0px;
    font-size: 1em;

}

h4 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.1em;

    small {
        font-weight: 300;
    }
}

@media screen and (min-width: 1300px) {
    html {
        font-size: 1.25em;
    }
}

.bg {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vw;
    position: absolute;
    width: 100%;
    z-index: -2;
    opacity: 0.05;

    @media screen and (max-width: $trigger-screen) {
        height: 100vw;
        background-size: cover;
        background-position: top left;
        rotate: 180deg;

    }


}

.m-100{
    margin-top: -50vw;
    
}

a {
    text-decoration: none;
    color: $font-color;

}

.container {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;

    img {
        width: 100%;
    }
}

.flex {
    img {
        width: 100vw;
    }

}


// wide-view or mobile  depending on screen size



@media screen and (min-width: $trigger-screen) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: $trigger-screen) {
    .wide-view {
        display: none;
    }
}

.homzhub {
    @include linear-gradient-alt(#64A2FF);

}

.law {
    @include linear-gradient-alt(#5181D6);
}

.motion {
    @include linear-gradient-alt(#E2A851);
}

.duct {
    @include linear-gradient-alt(#3FA887);
}

.shop {
    @include linear-gradient-alt(#FF5757);
}

.white {
    @include linear-gradient-alt(rgb(204, 204, 204));
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    div {
        padding: 1em;
    }
}

#discover {

    padding: 0px;

    .grid-container {
        div {
            color: $font-color-alt;
            padding-top: 120px;

        }
    }
}

.process {
    margin-top: -600px;
    margin-bottom: 200px;
    padding: 30px;
    overflow: hidden;
    overflow-x: auto;

}



.scale-1 {
    transition: transform 0.3s;

    &:hover {
        -ms-transform: scale(1.02);
        /* IE 9 */
        -webkit-transform: scale(1.02);
        /* Safari 3-8 */
        transform: scale(1.02);
        z-index: 20;
    }
}







// navbar

nav {

    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-left: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: capitalize;
    background: #f1f1f100;
    position: absolute;
    width: 100vw;


    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        // mobile-nav css
        @media screen and (max-width: $trigger-screen) {


            padding: 40px;
            z-index: 3;
            width: 100%;

            display: block;

        }

        :hover {

            ::after {
                content: " - ";
            }
        }


        a {
            :hover {
                color: #FF5757;
            }


        }


        li {
            padding: 0 20px;
            font-size: 0.9em;


            @media screen and (max-width: $trigger-screen) {
                display: block;
                padding: 15px;
                margin: 0 auto;
                text-align: right;
                border-bottom: #252525 dotted 0.5px;
            }
        }

    }

}