// case 1

.case-1{


  
    .inside-box{

      margin-top: 10vmin;
      background: linear-gradient(341.91deg, #F1F1F1 5%, rgba(248, 248, 248, 0) 68.23%);
      @media only screen and (max-width: 800px) {
        margin-top: 20vmax;
      }
  
  
      .page{
        max-width: 1250px;
        margin: 5vmin auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        @media only screen and (max-width: 800px) {
          grid-template-columns: auto ;
          padding: 8vmin 1vmin ;  
        }
        div{
          padding: 8vmin ;  
          
          @media only screen and (max-width: 800px) {
            padding: 1.8vmin ;  
          }

        }
        .screen{
          justify-self: end;
          
          img{
            width: 100%;
            border-radius: 5px;        
            border: 1px rgb(212, 212, 212) solid;
          }
        }
      }
  
      .duct-img{
        grid-template-columns: 1fr 2fr;
        @media only screen and (max-width: 900px) {
          grid-template-columns: auto ;
        }
        .screen{
          
          img{
            max-width: 10vmax;

          }
        }
  
      }
    }
  
  
  
  
  }


  .duct-main{
  
    background: url(../img/duct/Rectangle.png) no-repeat;
    background-size: contain;

    background-position: right;
    height: 95%;
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;

  }
