$trigger-screen: 700px;
// nav
.navbar {


    .nav-pills{
        .nav-item{
            .nav-link{
                &:active{
                    background-color: black;
                }
            }
        }
    }



    ul {

      list-style-type: none;
      @media  screen and (max-width:768px) {
        display:list-item;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.961);

      }
      }

      a{
          color: rgba(24, 24, 24, 0.76);
          &:hover{
            color: rgb(223, 6, 6);
          }
      }


      li {

        font-family: 'Barlow Semi Condensed', sans-serif;
        text-transform: uppercase;

        letter-spacing: 0.1em;
        font-size: small ;
        background-color: transparent;
        transition: font-weight 0.1s ease-in;
        @media  screen and (max-width:768px) {
          padding: 30px;
          
        }

      }
    }






