@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,300i,400,400i,600,600i|Barlow:300,300i,600,600i&display=swap');


// font-family: 'Barlow Semi Condensed', sans-serif;

// @import 'root', 'nav','footer';

// wide-view or mobile  depending on screen size


$trigger-screen: 700px;

.vw-100 {

  margin: 0 auto;
  width: 100%;

  svg {
    width: 100%;
  }
}






.mobile {
  width: 100vw;

  @media screen and (min-width: $trigger-screen) {
    display: none;
  }
}


.wide-view {
  

  @media screen and (max-width: $trigger-screen) {

    display: none;
  }
}

a{
  color:#1a1a1a;
  :hover{
    color:#DE4F4F;
    text-decoration: none;
  }

}


@mixin linear-gradient-alt($alt-color) {
  background: linear-gradient(55deg, $alt-color, 80%, rgba(255, 255, 255, 0.637) 170%);
  &:hover{
    background: linear-gradient(55deg, $alt-color, 30%, rgba(255, 255, 255, 0.2) 170%);
  }
}

.homzhub {
  @include linear-gradient-alt(#64A2FF);

}

.law {
  @include linear-gradient-alt(#5181D6);
}

.motion {
  @include linear-gradient-alt(#E2A851);
}

.duct {
  @include linear-gradient-alt(#3FA887);
}

.shop {
  @include linear-gradient-alt(#FF5757);
}

.white {
  @include linear-gradient-alt(rgb(204, 204, 204));
}

.e-com{
  @include linear-gradient-alt(#DE4F4F);
}
.soon{
  @include linear-gradient-alt(black);
}



#work {

  .grid-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-auto-rows: 250px;


    @media screen and (min-width: 900px) {
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }


    
    

    div {
      padding: 1em;
      position: relative;
      color: #fdfdfd;
      &:hover{
        color: #1c1c1c;
        // &::before {
        //   content: " ";
        //   position: absolute;
        //   width: 20px ;
        //   height: 20px;
        //   top: 5%;
        //   left: 5%;
        //   z-index: 1;
        //   background: url(../img/kanso/eye.svg) no-repeat;
        //   background-size: contain;
        //   background-position:  center;
          
        // }
      }
      h4{
        font-size: 22px;
        line-height: 24px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 18px;
        text-transform: uppercase;
        font-weight: 700;
        small{
          font-weight: 200;
        }

      }

      
    }
  }
}






// animation
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(page-trasition) {
  0% {
    height: 30vmin;
  }

  100% {
    height: 80vh;
  }
}

//   @include animation('page-trasition 0.5s  ease-in 1');





/* width */
::-webkit-scrollbar {
  width: 2px;
  height:1px
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}





// root
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  //border: 1px grey solid;
  transition: all 0.1s ease;
  

}



body,
html {
  
  
  scroll-behavior: smooth;
  position: relative;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #1d1d1dd6;
  

}



p {
  font-family: 'Barlow', sans-serif;
  max-width: 500px;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  font-size: 18px;
  small{
    font-size: 16px;
  }
  
}

h2 {
  
  text-transform: uppercase;
  font-size: 40px;
  max-width: 830px;
  
  letter-spacing: 0.01em;
  font-weight: 700;
}

h3 {
  
  text-transform: uppercase;
  line-height: 48px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.10em;
  


}

h4 {
  
  font-size: 34px;


  margin-top: 16px;
  font-weight: 600;
  @media screen and (max-width: $trigger-screen) {
    font-size: 24px;
  }
  small{
    text-transform: capitalize;
  }

  
}
h5 {
  font-family: 'Barlow ', sans-serif;
  font-size: 16px;
  
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 2px;
  font-weight: 300;
  @media screen and (max-width: 900px) {
    font-size: 14px;
  }

  
}






  section {
    width: 100%;
    padding-top: 100px ; 
    position: relative;
    min-height: 65vmin;

    .container{
      @media screen  and (max-width:$trigger-screen){
        padding: 10vmax;
      
      }
    }
    
    
}



// footer
.contact {
  display: grid;
  grid-template-columns: 300px auto;

  snap {
    position: relative;
    width: 40px;
    margin-right: 30px;

    svg {
      position: absolute;
      width: 20px;
      top: 3px;
    }
  }


}





.bg-transperent{
  background-color: rgba(255, 255, 255, 0.961);
}












// loading.css
.page-loaded{
  visibility: hidden;
}

.logo-loading{
  padding: 50px;
}

.loader {
  display: flex ;
  justify-content: center ;
  align-items: center ;
  min-height: 100vh ;

}
.circle {
  display: inline-block;
  width: 3px ;
  height: 40px ;
  border-radius: 2px ;
  margin: 0px 5px ;
  animation: wave 1.5s ease-in-out infinite ;

  .circle-1 { animation-delay: 0ms }
  .circle-2 { animation-delay: 200ms }
  .circle-3 { animation-delay: 400ms }
}

@keyframes wave {
  30% {
    background-color: rgb(240, 240, 240) ;
  }
  0% , 60% , 100% {
    background-color:rgb(218, 218, 218) ;
  }
}





.vw-inside{
  max-width: 1400px;

  margin: 0 auto;
  
  // @media screen and (min-width: $trigger-screen) {
  //   padding: 0.5em;
  //   padding-top: 200px ; 

  // }


  // @media screen and (max-width: $trigger-screen) {
  //   width: 100%; 
  //   margin: 0;

  // }
}



.margin-top-minus{
  margin-top: -280px;
  @media screen and (min-width: 700) {
    margin-top: -6000px;
  }
  @media screen and (min-width: 1300) {
    margin-top: -850px;
  }
}


#banner {
  height: 100vh;
  position: relative;
  .container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .bg {


    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0%;
      left: 0%;
      z-index: -1;
      background: url(../img/bg.png) no-repeat;
      background-size: cover;
      background-position:  center;

    }
}
}



.bg {

  width: 100vw;
  height: 100vh;
  margin-bottom: -100vh;
  
  z-index: -1;
  &::before {
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: -1;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    background-position:  center;
    
  }
}
.bg-bottom{


  &::before {
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  
    
  }

}



#process{
  .container{
    @media screen and (max-width:900px){
      img{
        max-width: 400px;
      }
    }

          

        }
  }




#approach{

  background: url(../img/kanso/approach/bg.svg) no-repeat;
    background-size: 40vmax;
    background-position: right center;



  
}

.video-bg{

    background: url(https://media.giphy.com/media/fC6BAcnLFF2o/giphy.gif) no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;

    width: 100vw;
    height: 100vh;


  
}









// homzbub desktop css


  .wireframe{
    background: url(../img/homzhub/wireframes.png) no-repeat;
    background-size: cover;
    background-position: right center;
    height: 400px;


  }

  .top-vs-side{


    
    background: url(../img/homzhub/top-vs-side.svg) no-repeat;
    background-size: auto;
    background-position: right;
  }

  .para{
    max-width: 300px;
  }


  .post{
    background: url(../img/homzhub/post%20easy-desk.png) no-repeat;
    background-size: contain;
    height: 80vmax;


  }

  .post-dashboard{
    background: url(../img/homzhub/Owner%20dashboard.png) no-repeat;
    background-size: cover;
    height: 100vmax;

  }

  .seemless{
    background: url(../img/homzhub/seemless.png) no-repeat;
    background-size: contain;
    height: 80vmax
  }


  .output{
    background: url(../img/homzhub/output.png) no-repeat;
    background-size: contain;
    height: 50vmax
  }




 

  .homzhub-main{
    background: url(../img/homzhub/homzbub-main-1.png) no-repeat;
    background-size: contain;
    background-position: right;
    height: 90%;
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
  }








  .law-main{
  
    background: url(../img/law/law-wallpaper.png) no-repeat;
    background-size: 800px ;

    background-position: right ;
    height: 90%;
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;

  }


  .law-wireframe  {
    background: url(../img/law/wireframes.png) no-repeat;
    background-size: 50vmax;
    background-attachment: fixed;
    background-position: right ;
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .info-text-red{
    max-width: 40%;
    color: #C44E4E;
  }

  
  .law-mockup{

    margin-top: 100px;
    position: absolute;

    background: url(../img/law/mockup-2.png) no-repeat;
    height: 60%;
    width: 100%;
    background-size: contain;
    right: 3%;
    background-position: right ;
  }