svg(width='660' viewbox='0 0 360 3122' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  text(fill='#323232' xml:space='preserve' style='white-space: pre' font-family='Barlow Semi Condensed' font-size='24' font-weight='bold' letter-spacing='0em')
    tspan(x='41' y='542.6') Air-condition duct test 
    tspan(x='41' y='570.6') application
  rect(x='41' y='467' width='28' height='28' rx='1' fill='#D21919')
  rect(x='41' width='277' height='417' fill='url(#pattern0)')
  text(fill='#3C3D3B' xml:space='preserve' style='white-space: pre' font-family='Barlow Semi Condensed' font-size='18' font-weight='bold' letter-spacing='0em')
    tspan(x='41' y='711') The duct test
  text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Rubik' font-size='14' font-weight='300' letter-spacing='0em')
    tspan(x='41' y='751.09') A duct test measures the airtightness and 
    tspan(x='41' y='773.854') leakages in the system which includes both 
    tspan(x='41' y='796.618') the inside and outside of a cooled or heated 
    tspan(x='41' y='819.382') space. By comparing the pressures and 
    tspan(x='41' y='842.146') flow rates, the test is able to determine the 
    tspan(x='41' y='864.91') total amount of leakage and the location of 
    tspan(x='41' y='887.674') any leaks in the system. Such leakages 
    tspan(x='41' y='910.438') could affect the cooling or heating potential 
    tspan(x='41' y='933.202') of the system. This is mostly used for 
    tspan(x='41' y='955.966') spaces which uses air-conditioning or a 
    tspan(x='41' y='978.73') furnace.
  rect(y='1343' width='360' height='222' fill='url(#paint0_linear)')
  text(fill='#3C3D3B' xml:space='preserve' style='white-space: pre' font-family='Barlow Semi Condensed' font-size='18' font-weight='bold' letter-spacing='0em')
    tspan(x='41' y='1095') The application
  text(fill='#363636' xml:space='preserve' style='white-space: pre' font-family='Rubik' font-size='14' font-weight='300' letter-spacing='0em')
    tspan(x='41' y='1138.09') This application was designed to be used 
    tspan(x='41' y='1160.88') by on feild repair personel for running a 
    tspan(x='41' y='1183.67') duct test. It may be used on a home or 
    tspan(x='41' y='1206.47') office air conditioning. It helps the person 
    tspan(x='41' y='1229.26') to capture the data from the parameters of 
    tspan(x='41' y='1252.05') the test.
  text(fill='#3C3D3B' xml:space='preserve' style='white-space: pre' font-family='Barlow Semi Condensed' font-size='18' font-weight='bold' letter-spacing='0em')
    tspan(x='41' y='1665') Intuitive calender
  text(fill='#363636' xml:space='preserve' style='white-space: pre' font-family='Rubik' font-size='14' font-weight='300' letter-spacing='0em')
    tspan(x='41' y='1708.09') The aim was to ensure easy accessibility to 
    tspan(x='41' y='1730.88') all the tasks in the month down to each 
    tspan(x='41' y='1753.67') day.
  text(fill='#3C3D3B' xml:space='preserve' style='white-space: pre' font-family='Barlow Semi Condensed' font-size='18' font-weight='bold' letter-spacing='0em')
    tspan(x='41' y='2151') Restructuring parameters
  text(fill='#363636' xml:space='preserve' style='white-space: pre' font-family='Rubik' font-size='14' font-weight='300' letter-spacing='0em')
    tspan(x='41' y='2195.09') Taking all the information from the old 
    tspan(x='41' y='2217.88') design, we needed to regroup and 
    tspan(x='41' y='2240.67') rearrange certain parameters. This was 
    tspan(x='41' y='2263.47') based on relevance and accessiblity.
  text(fill='#3C3D3B' xml:space='preserve' style='white-space: pre' font-family='Barlow Semi Condensed' font-size='18' font-weight='bold' letter-spacing='0em')
    tspan(x='41' y='2640') Prominent CTAs / Fields
  text(fill='#363636' xml:space='preserve' style='white-space: pre' font-family='Rubik' font-size='14' font-weight='300' letter-spacing='0em')
    tspan(x='41' y='2684.09') On feild personel have to run multiple tests 
    tspan(x='41' y='2706.88') in a day. To ensure the process was fast 
    tspan(x='41' y='2729.67') and hassle free, all the CTAs and input 
    tspan(x='41' y='2752.47') feilds were made larger and more tapable. 
    tspan(x='41' y='2775.26') This also ensures that a person using 
    tspan(x='41' y='2798.05') gloves could also operate it with ease.
  rect(y='2354' width='361' height='218' fill='url(#paint1_linear)')
  rect(y='2902' width='361' height='218' fill='url(#paint2_linear)')
  g(filter='url(#filter0_d)')
    mask#mask0(mask-type='alpha' maskunits='userSpaceOnUse' x='40' y='2298' width='385' height='243')
      rect(x='40.75' y='2298.75' width='383.193' height='241.5' rx='3.25' fill='#F7F7F7' stroke='#3E3D3D' stroke-width='0.5')
    g(mask='url(#mask0)')
      g(filter='url(#filter1_d)')
        rect(x='41' y='2289.92' width='383.299' height='348.178' rx='3' fill='url(#pattern1)')
        rect(x='40.75' y='2289.67' width='383.799' height='348.678' rx='3.25' stroke='#3E3D3D' stroke-width='0.5')
  rect(y='1828.59' width='360' height='222' fill='url(#paint3_linear)')
  g(filter='url(#filter2_d)')
    mask#mask1(mask-type='alpha' maskunits='userSpaceOnUse' x='40' y='1296' width='391' height='247')
      rect(x='40.75' y='1296.75' width='389.5' height='245.472' rx='3.25' fill='#F7F7F7' stroke='#3E3D3D' stroke-width='0.5')
    g(mask='url(#mask1)')
      rect(x='41.9805' y='1296.75' width='388.269' height='457.821' rx='3.25' fill='url(#pattern2)' stroke='#3E3D3D' stroke-width='0.5')
  line(x1='4.37114e-08' y1='629.5' x2='360' y2='629.5' stroke='#A9A9A9')
  g(filter='url(#filter3_d)')
    mask#mask2(mask-type='alpha' maskunits='userSpaceOnUse' x='40' y='1783' width='391' height='247')
      rect(x='40.75' y='1783.75' width='389.5' height='245.472' rx='3.25' fill='#F7F7F7' stroke='#3E3D3D' stroke-width='0.5')
    g(mask='url(#mask2)')
      rect(x='40.75' y='1789.29' width='388.884' height='291.634' rx='3.25' fill='url(#pattern3)' stroke='#3E3D3D' stroke-width='0.5')
  g(filter='url(#filter4_d)')
    mask#mask3(mask-type='alpha' maskunits='userSpaceOnUse' x='40' y='2843' width='329' height='243')
      rect(x='40.75' y='2843.75' width='327.35' height='241.5' rx='3.25' fill='#F7F7F7' stroke='#3E3D3D' stroke-width='0.5')
    g(mask='url(#mask3)')
      rect(x='40.75' y='2839.61' width='327.35' height='245.637' rx='3.25' fill='url(#pattern4)' stroke='#3E3D3D' stroke-width='0.5')
  defs
    pattern#pattern0(patterncontentunits='objectBoundingBox' width='1' height='1')
      use(xlink:href='#image0' transform='translate(-0.50361) scale(0.000802888 0.000533333)')
    filter#filter0_d(x='13.5' y='2274.5' width='443.693' height='302' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
      feflood(flood-opacity='0' result='BackgroundImageFix')
      fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
      feoffset(dx='3' dy='6')
      fegaussianblur(stddeviation='15')
      fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0')
      feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
      feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
    filter#filter1_d(x='10.5' y='2263.42' width='444.299' height='409.178' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
      feflood(flood-opacity='0' result='BackgroundImageFix')
      fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
      feoffset(dy='4')
      fegaussianblur(stddeviation='15')
      fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0')
      feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
      feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
    pattern#pattern1(patterncontentunits='objectBoundingBox' width='1' height='1')
      use(xlink:href='#image1' transform='translate(0 -0.000175318) scale(0.000488281)')
    filter#filter2_d(x='14.7305' y='1272.5' width='448.769' height='305.972' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
      feflood(flood-opacity='0' result='BackgroundImageFix')
      fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
      feoffset(dx='3' dy='6')
      fegaussianblur(stddeviation='15')
      fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0')
      feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
      feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
    pattern#pattern2(patterncontentunits='objectBoundingBox' width='1' height='1')
      use(xlink:href='#image2' transform='scale(0.00048835)')
    filter#filter3_d(x='13.5' y='1765.04' width='449.384' height='300.432' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
      feflood(flood-opacity='0' result='BackgroundImageFix')
      fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
      feoffset(dx='3' dy='6')
      fegaussianblur(stddeviation='15')
      fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0')
      feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
      feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
    pattern#pattern3(patterncontentunits='objectBoundingBox' width='1' height='1')
      use(xlink:href='#image3' transform='translate(0 -0.000264272) scale(0.000488281 0.000651386)')
    filter#filter4_d(x='13.5' y='2819.5' width='387.85' height='302' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
      feflood(flood-opacity='0' result='BackgroundImageFix')
      fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
      feoffset(dx='3' dy='6')
      fegaussianblur(stddeviation='15')
      fecolormatrix(type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0')
      feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow')
      feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape')
    pattern#pattern4(patterncontentunits='objectBoundingBox' width='1' height='1')
      use(xlink:href='#image4' transform='scale(0.000488281 0.000651042)')
    lineargradient#paint0_linear(x1='50.9244' y1='1539.5' x2='-42.965' y2='1371.38' gradientunits='userSpaceOnUse')
      stop(stop-color='#F8F8F8')
      stop(offset='1' stop-color='#F8F8F8' stop-opacity='0')
    lineargradient#paint1_linear(x1='156.418' y1='2537.94' x2='-28.9022' y2='2405.44' gradientunits='userSpaceOnUse')
      stop(stop-color='#F8F8F8')
      stop(offset='1' stop-color='#F8F8F8' stop-opacity='0')
    lineargradient#paint2_linear(x1='156.418' y1='3085.94' x2='-28.9022' y2='2953.44' gradientunits='userSpaceOnUse')
      stop(stop-color='#F8F8F8')
      stop(offset='1' stop-color='#F8F8F8' stop-opacity='0')
    lineargradient#paint3_linear(x1='50.9244' y1='2025.09' x2='-42.965' y2='1856.97' gradientunits='userSpaceOnUse')
      stop(stop-color='#F8F8F8')
      stop(offset='1' stop-color='#F8F8F8' stop-opacity='0')
    image#image0(xlink:href='./img/duct/duct.png')
    image#image2(xlink:href='./img/duct/Application.png')
    image#image3(xlink:href='./img/duct/Calender.png')
    image#image1(xlink:href='./img/duct/Parameters.png')
    image#image4(xlink:href='./img/duct/CTA.png')
