//- copy svg with proper classes to make responsive svg



section#services
    .container
        h2 services

        .graph
            svg(xmlns='http://www.w3.org/2000/svg'  viewbox='0 0 1037.75 220')
                g#Layer_2(data-name='Layer 2')
                    g#Layer_1-2(data-name='Layer 1')
                    text(transform='translate(795.51 174.38)' style='font-size: 14px;fill: #231f20;font-family: Barlow-Regular, Barlow')
                        | S
                        tspan(x='8.18' y='0' style='letter-spacing: -0.006975446428571429em') h
                        tspan(x='15.62' y='0' style='letter-spacing: -0.019984654017857144em') o
                        tspan(x='22.97' y='0' style='letter-spacing: -0.017020089285714284em') w
                        tspan(x='32.83' y='0') casing 
                        tspan(x='75.4' y='0' style='letter-spacing: -0.016985212053571428em') y
                        tspan(x='81.62' y='0') our p
                        tspan(x='112.38' y='0' style='letter-spacing: -0.004987444196428571em') r
                        tspan(x='117.4' y='0') oduct th
                        tspan(x='168' y='0' style='letter-spacing: -0.004987444196428571em') r
                        tspan(x='173.02' y='0') ough a rich 
                        tspan(x='0' y='19') audio visual 
                        tspan(x='73.93' y='19' style='letter-spacing: -0.013985770089285714em') e
                        tspan(x='81.2' y='19') x
                        tspan(x='87.88' y='19' style='letter-spacing: -0.007010323660714286em') p
                        tspan(x='95.51' y='19') erie
                        tspan(x='119.1' y='19' style='letter-spacing: -0.006975446428571429em') n
                        tspan(x='126.54' y='19' style='letter-spacing: -0.0029994419642857145em') c
                        tspan(x='133.78' y='19') e
                    text(transform='translate(410.02 174.47)' style='font-size: 14px;fill: #231f20;font-family: Barlow-Regular, Barlow')
                        tspan(style='letter-spacing: -0.013985770089285714em') B
                        tspan(x='8.58' y='0') uilding high qualit
                        tspan(x='115.15' y='0' style='letter-spacing: -0.043980189732142856em') y
                        tspan(x='120.99' y='0' style='letter-spacing: -0.00003487723214285714em') , cu
                        tspan(x='142.27' y='0' style='letter-spacing: -0.0010114397321428572em') s
                        tspan(x='148.98' y='0' style='letter-spacing: -0.014997209821428572em') t
                        tspan(x='153.87' y='0') omised
                        tspan(x='198.49' y='0' style='letter-spacing: 0.019984654017857144em')  
                        tspan(x='201.57' y='0') onli
                        tspan(x='223.53' y='0' style='letter-spacing: -0.006975446428571429em') n
                        tspan(x='230.98' y='0') e 
                        tspan(x='0' y='19') p
                        tspan(x='7.73' y='19' style='letter-spacing: -0.004987444196428571em') r
                        tspan(x='12.75' y='19') oducts 
                        tspan(x='57.44' y='19' style='letter-spacing: -0.04701450892857143em') f
                        tspan(x='61.77' y='19') or 
                        tspan(x='77.29' y='19' style='letter-spacing: -0.002964564732142857em') c
                        tspan(x='84.53' y='19') ompl
                        tspan(x='114.69' y='19' style='letter-spacing: -0.013985770089285714em') e
                        tspan(x='121.95' y='19') x 
                        tspan(x='131.43' y='19' style='letter-spacing: -0.007010323660714286em') n
                        tspan(x='138.88' y='19') eeds
                    text(transform='translate(0 177.03)' style='font-size: 14px;fill: #231f20;font-family: Barlow-Regular, Barlow')
                        tspan(style='letter-spacing: -0.012974330357142858em') A
                        tspan(x='8.32' y='0') chi
                        tspan(x='26.71' y='0' style='letter-spacing: -0.013009207589285714em') e
                        tspan(x='33.99' y='0') ving busi
                        tspan(x='87.5' y='0' style='letter-spacing: -0.006975446428571429em') n
                        tspan(x='94.95' y='0' style='letter-spacing: -0.008998325892857142em') e
                        tspan(x='102.28' y='0' style='letter-spacing: -0.014997209821428572em') s
                        tspan(x='108.81' y='0') s objecti
                        tspan(x='160.45' y='0' style='letter-spacing: -0.016985212053571428em') v
                        tspan(x='166.86' y='0' style='letter-spacing: -0.008998325892857142em') e
                        tspan(x='174.2' y='0') s with c
                        tspan(x='220.12' y='0' style='letter-spacing: -0.004987444196428571em') re
                        tspan(x='232.54' y='0' style='letter-spacing: -0.004010881696428571em') a
                        tspan(x='239.63' y='0') ti
                        tspan(x='248.3' y='0' style='letter-spacing: -0.016985212053571428em') v
                        tspan(x='254.71' y='0') e 
                        tspan(x='0' y='19') solutions 
                        tspan(x='58.46' y='19' style='letter-spacing: -0.006975446428571429em') b
                        tspan(x='66.01' y='19' style='letter-spacing: -0.013009207589285714em') e
                        tspan(x='73.29' y='19' style='letter-spacing: -0.016985212053571428em') y
                        tspan(x='79.51' y='19') o
                        tspan(x='87.14' y='19' style='letter-spacing: -0.006975446428571429em') n
                        tspan(x='94.58' y='19') d ju
                        tspan(x='115.96' y='19' style='letter-spacing: -0.0010114397321428572em') s
                        tspan(x='122.68' y='19') t visual a
                        tspan(x='175.36' y='19' style='letter-spacing: -0.008998325892857142em') e
                        tspan(x='182.7' y='19' style='letter-spacing: -0.0009765625em') s
                        tspan(x='189.42' y='19') t
                        tspan(x='194.51' y='19' style='letter-spacing: -0.006975446428571429em') he
                        tspan(x='209.33' y='19') tics
                    text(transform='translate(0 140.37)' style='font-size: 27.522300720214844px;fill: #231f20;font-family: BarlowSemiCondensed-SemiBold, Barlow Semi Condensed;font-weight: 600')
                        tspan(style='letter-spacing: -0.001987025014948427em') D
                        tspan(x='14.94' y='0' style='letter-spacing: -0.00001774129477632524em') ESIGN 
                        tspan(x='86.34' y='0' style='letter-spacing: -0.010981861466545324em') S
                        tspan(x='100.15' y='0') T
                        tspan(x='114.35' y='0' style='letter-spacing: 0.014991394085994827em') R
                        tspan(x='129.55' y='0' style='letter-spacing: -0.06897815409035253em') A
                        tspan(x='142.84' y='0') TE
                        tspan(x='171.16' y='0' style='letter-spacing: -0.016002647888245368em') G
                        tspan(x='185.5' y='0') Y
                    rect(x='313.21' width='2' height='220' style='fill: #eaeaea')
                    rect(x='709.21' width='2' height='220' style='fill: #eaeaea')
                    path(d='M450,46.13a5.43,5.43,0,0,1-2.15-.39,3.1,3.1,0,0,1-1.39-1.08A2.86,2.86,0,0,1,446,43v-.47a.14.14,0,0,1,.16-.16h1.17a.15.15,0,0,1,.16.16v.39a1.6,1.6,0,0,0,.7,1.34,3.19,3.19,0,0,0,1.94.53,2.55,2.55,0,0,0,1.66-.46,1.52,1.52,0,0,0,.56-1.22,1.27,1.27,0,0,0-.29-.85,2.65,2.65,0,0,0-.84-.64,16.1,16.1,0,0,0-1.6-.72,18.61,18.61,0,0,1-1.86-.81,3.59,3.59,0,0,1-1.12-1,2.51,2.51,0,0,1-.45-1.52,2.62,2.62,0,0,1,1-2.16,4.14,4.14,0,0,1,2.67-.79,5.18,5.18,0,0,1,2.08.4,3.16,3.16,0,0,1,1.38,1.12,2.88,2.88,0,0,1,.49,1.67v.32a.14.14,0,0,1-.16.16h-1.2a.14.14,0,0,1-.16-.16v-.24a1.69,1.69,0,0,0-.67-1.38,2.75,2.75,0,0,0-1.82-.56,2.46,2.46,0,0,0-1.54.42,1.52,1.52,0,0,0-.27,2,2.66,2.66,0,0,0,.8.61c.36.17.91.39,1.65.67a17.1,17.1,0,0,1,1.84.83,3.58,3.58,0,0,1,1.16,1,2.44,2.44,0,0,1,.47,1.52,2.72,2.72,0,0,1-1,2.24A4.41,4.41,0,0,1,450,46.13Zm12.8-11.33a.14.14,0,0,1,.16.16v1a.14.14,0,0,1-.16.16h-3.07a.07.07,0,0,0-.07.07v9.63a.14.14,0,0,1-.16.16h-1.21a.14.14,0,0,1-.16-.16V36.21a.06.06,0,0,0-.07-.07h-2.92A.14.14,0,0,1,455,36V35a.14.14,0,0,1,.16-.16ZM470.71,46a.18.18,0,0,1-.19-.13L469.94,44a.06.06,0,0,0-.06,0h-4.5a.06.06,0,0,0-.06,0l-.58,1.87a.18.18,0,0,1-.19.13h-1.3c-.11,0-.16-.06-.12-.18l3.5-10.89a.18.18,0,0,1,.19-.13h1.6a.18.18,0,0,1,.19.13l3.54,10.89,0,.07c0,.07-.05.11-.15.11Zm-5-3.34a.06.06,0,0,0,0,.06l.06,0h3.68l.05,0s0,0,0-.06l-1.86-5.94a.06.06,0,0,0-.1,0ZM480.37,46a.18.18,0,0,1-.17-.11L478,41.1a.07.07,0,0,0-.07,0h-2.3s-.07,0-.07.06v4.72a.14.14,0,0,1-.16.16h-1.21a.14.14,0,0,1-.16-.16V35a.14.14,0,0,1,.16-.16h4.3a3.37,3.37,0,0,1,1.68.4,2.86,2.86,0,0,1,1.14,1.12,3.43,3.43,0,0,1,.4,1.66,3.1,3.1,0,0,1-.59,1.91,2.89,2.89,0,0,1-1.62,1s0,0,0,.08l2.32,4.8a.19.19,0,0,1,0,.08c0,.07,0,.11-.12.11Zm-4.78-9.87s-.07,0-.07.06v3.59s0,.06.07.06h2.67a1.87,1.87,0,0,0,1.36-.5,1.86,1.86,0,0,0-1.36-3.21Zm15.32-1.33a.14.14,0,0,1,.16.16v1a.14.14,0,0,1-.16.16h-3.08s-.06,0-.06.07v9.63a.14.14,0,0,1-.16.16h-1.22a.14.14,0,0,1-.16-.16V36.21s0-.07-.06-.07h-2.93a.14.14,0,0,1-.16-.16V35a.14.14,0,0,1,.16-.16Z' style='fill: #61c7cf')
                    path(d='M822.21,40.5A13.5,13.5,0,1,1,808.71,27,13.5,13.5,0,0,1,822.21,40.5Z' style='fill: none;stroke: #e23f41;stroke-opacity: 0.100000001490116;stroke-width: 2px')
                    path(d='M857.21,40.5A13.5,13.5,0,1,1,843.71,27,13.5,13.5,0,0,1,857.21,40.5Z' style='fill: none;stroke: #e23f41;stroke-opacity: 0.200000002980232;stroke-width: 2px')
                    path(d='M892.21,40.5A13.5,13.5,0,1,1,878.71,27,13.5,13.5,0,0,1,892.21,40.5Z' style='fill: none;stroke: #e23f41;stroke-opacity: 0.400000005960465;stroke-width: 2px')
                    path(d='M927.21,40.5A13.5,13.5,0,1,1,913.71,27,13.5,13.5,0,0,1,927.21,40.5Z' style='fill: none;stroke: #e23f41;stroke-opacity: 0.600000023841858;stroke-width: 2px')
                    path(d='M962.21,40.5A13.5,13.5,0,1,1,948.71,27,13.5,13.5,0,0,1,962.21,40.5Z' style='fill: none;stroke: #e23f41;stroke-opacity: 0.800000011920929;stroke-width: 2px')
                    path(d='M996.21,40.5A13.5,13.5,0,1,1,982.71,27,13.5,13.5,0,0,1,996.21,40.5Z' style='fill: none;stroke: #e23f41;stroke-width: 2px')
                    path(d='M430.21,21.5h80A18.5,18.5,0,0,1,528.71,40h0a18.5,18.5,0,0,1-18.5,18.5h-80A18.5,18.5,0,0,1,411.71,40h0A18.5,18.5,0,0,1,430.21,21.5Z' style='fill: none;stroke: #61c7cf;stroke-width: 3px')
                    path(d='M93.39,72.27a1,1,0,0,1,0,1.41l-6.13,6.59a1,1,0,0,1-1.46-1.36l5.44-5.86L85.44,67.6a1,1,0,1,1,1.36-1.46ZM18.66,42c10.15-.51,17.36,1.24,23.1,4.16s9.93,7,14.08,10.93S64.1,65,69.71,67.77s12.73,4.6,23,4.23l.07,2c-10.51.38-18-1.46-23.93-4.44s-10.21-7.06-14.36-11S46.28,50.71,40.86,48s-12.25-4.44-22.1-4Z' style='fill: #5cba47')
                    circle(cx='12.21' cy='43' r='6' style='fill: none;stroke: #5cba47;stroke-width: 2px')
                    path(d='M527.81,61.28l5,19.68,3.44-7,6.26,7.49,3.23-2L539,72.12l7.7-.08Z' style='fill: none;stroke: #000;stroke-miterlimit: 10')
                    g
                        g
                        path(d='M28.65,54.88l7.28,7.28' style='fill: #fff')
                        path(d='M27.76,55.76,35,63a1.25,1.25,0,0,0,1.77-1.76L29.53,54a1.25,1.25,0,0,0-1.77,1.77Z' style='fill: #f15959')
                        g
                        path(d='M35.93,54.88q-3.65,3.63-7.28,7.28' style='fill: #fff')
                        path(d='M35,54l-7.28,7.29A1.25,1.25,0,0,0,29.53,63l7.28-7.28a1.26,1.26,0,0,0,0-1.77A1.28,1.28,0,0,0,35,54Z' style='fill: #f15959')
                    g
                        g
                        path(d='M41,29.11l7.28,7.28' style='fill: #fff')
                        path(d='M40.07,30l7.29,7.29a1.25,1.25,0,0,0,1.76-1.77q-3.63-3.64-7.28-7.28A1.25,1.25,0,1,0,40.07,30Z' style='fill: #f15959')
                        g
                        path(d='M48.24,29.11,41,36.39' style='fill: #fff')
                        path(d='M47.36,28.23l-7.29,7.28a1.25,1.25,0,0,0,1.77,1.77L49.12,30a1.24,1.24,0,0,0-1.76-1.76Z' style='fill: #f15959')
                    g
                        g
                        path(d='M68.37,52.05l7.28,7.28' style='fill: #fff')
                        path(d='M67.48,52.93l7.29,7.28a1.24,1.24,0,1,0,1.76-1.76l-7.28-7.29a1.25,1.25,0,0,0-1.77,1.77Z' style='fill: #f15959')
                        g
                        path(d='M75.65,52.05l-7.28,7.28' style='fill: #fff')
                        path(d='M74.77,51.16l-7.29,7.29a1.25,1.25,0,0,0,1.77,1.76q3.65-3.63,7.28-7.28a1.26,1.26,0,0,0,0-1.77,1.27,1.27,0,0,0-1.76,0Z' style='fill: #f15959')
                    text(transform='translate(411.36 140.45)' style='font-size: 27.522300720214844px;fill: #231f20;font-family: BarlowSemiCondensed-SemiBold, Barlow Semi Condensed;font-weight: 600')
                        | UI UX 
                        tspan(x='63.16' y='0' style='letter-spacing: -0.001987025014948427em') D
                        tspan(x='78.11' y='0') ESIGN
                    text(transform='translate(795.12 138.47)' style='font-size: 27.522300720214844px;fill: #231f20;font-family: BarlowSemiCondensed-SemiBold, Barlow Semi Condensed;font-weight: 600')
                        | M
                        tspan(x='17.26' y='0' style='letter-spacing: -0.003991791324673179em') O
                        tspan(x='32.12' y='0') TION G
                        tspan(x='104.45' y='0' style='letter-spacing: 0.014991394085994827em') R
                        tspan(x='119.64' y='0') APHICS
