<!DOCTYPE html>
html(lang="en")
    
    include head.pug
    body

        include nav.pug


        section.case-1
            .inside-box
                .page.duct-img
                    div
                        svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='28' height='28' rx='1' fill='#D21919')

                        h2 Air-condition duct test application
                        
                        h3 The duct test
                        p
                            small A duct test measures the airtightness and leakages in the system which includes both the inside and outside of a cooled or heated space. By comparing the pressures and flow rates, the test is able to determine the total amount of leakage and the location of any leaks in the system. Such leakages could affect the cooling or heating potential of the system. This is mostly used for spaces which uses air-conditioning or a furnace.
                    .screen
                        img(src="img/duct/duct.png", alt="duct", srcset="")

                .page
                    div
                        h3 The application
                        p
                            small This application was designed to be used by on feild repair personel for running a duct test. It may be used on a home or office air conditioning.  It helps the person to capture the data from the parameters of the test.
                    .screen
                        img(src="img/duct/3.jpg", alt="application", srcset="")

                .page
                    div
                        h3 Intuitive calender
                        p
                            small The aim was to ensure easy accessibility to all the tasks in the month down to each day.
                    .screen
                        img(src="img/duct/1.jpg", alt="calender", srcset="")

                .page
                    div
                        h3 Restructering parameters
                        p
                            small Taking all the information from the old design, we needed to regroup and rearrange certain parameters. This was based on relevance and accessiblity.
                    .screen
                        img(src="img/duct/2.jpg", alt="Restructering parameters", srcset="")

                .page
                    div
                        h3 Prominent CTAs / Fields
                        p
                            small On feild personel have to run multiple tests in a day. To ensure the process was fast and hassle free, all the CTAs and input feilds were made larger and more tapable. This also ensures that a person using gloves could also operate it with ease.
                    .screen
                        img(src="img/duct/4.jpg", alt="Prominent CTAs / Fields", srcset="")


            include footer.pug