<!DOCTYPE html>
html(lang="en")
    
    include _include/head.pug
    body

        include _include/nav.pug

        //- .wide-view
        //-     include law/law-desktop.pug

        //- .mobile
        //-     include law/law-mobile.pug


        picture.vw-100
            source(media='(min-width: 1500px)' srcset='./img/e-commerce/e-commerce.svg')
            source(media='(max-width: 700px)' srcset='./img/e-commerce/e-commerce.svg')
            source(media='(min-width: 700px)'  srcset='./img/e-commerce/e-commerce.svg')
            img(src=''  alt='e-commerce' )


        include _include/work.pug
        include _include/footer.pug