<!DOCTYPE html>
html(lang="en")
    
    include _include/head.pug
    body
        //include _include/loading.pug
        
        include _include/nav.pug

        picture.vw-100
            source(media='(min-width: 1500px)' srcset='./img/kanso/kanso-wide.svg')
            source(media='(max-width: 700px)' srcset='./img/kanso/kanso-mobile.svg')
            source(media='(min-width: 700px)'  srcset='./img/kanso/kanso-desktop.svg')
            img(src=''  alt='kanso' )


        #services.vw-inside
            picture                
                source(media='(max-width: 700px)' srcset='./img/kanso/service/kanso-mobile.svg')
                source(media='(min-width: 700px)'  srcset='./img/kanso/service/service-desktop.svg')
                img(src=''  alt='service' )


        #approach.vw-inside
            picture                
                source(media='(max-width: 700px)' srcset='./img/kanso/approach/approach-mobile.svg')
                source(media='(min-width: 700px)'  srcset='./img/kanso/approach/approach-desktop.svg')
                img(src=''  alt='service' )




        #process.vw-inside
            picture                
                source(media='(max-width: 700px)' srcset='./img/kanso/process/process-mobile.svg')
                source(media='(min-width: 700px)'  srcset='./img/kanso/process/process-desktop.svg')
                img(src=''  alt='process' )

        #work

        #we.vw-inside
            
            picture      
                source(media='(min-width: 700px)' srcset='./img/kanso/we/we-wide.svg')        
                source(media='(max-width: 700px)' srcset='./img/kanso/we/we-mobile.svg')
                img(src=''  alt='we' )




        include _include/footer.pug
        




