<!DOCTYPE html>
html(lang="en")
    
    include _include/head.pug
    body(data-spy="scroll" data-target="#navbar" data-offset="0")
        //include _include/loading.pug
        
        include _include/nav.pug

        include _include/banner.pug


        .margin-top-minus
            #services.vw-inside
                picture                
                    source(media='(max-width: 700px)' srcset='./img/kanso/service/service-mobile.svg')
                    source(media='(min-width: 700px)'  srcset='./img/kanso/service/service-desktop.svg')
                    img(src=''  alt='service' )


            #approach.vw-inside
                picture                
                    source(media='(max-width: 700px)' srcset='./img/kanso/approach/approach-mobile.svg')
                    source(media='(min-width: 700px)'  srcset='./img/kanso/approach/approach-desktop.svg')
                    img(src=''  alt='approach' )




            #process.vw-inside
                picture                
                    source(media='(max-width: 700px)' srcset='./img/kanso/process/process-mobile.svg')
                    source(media='(min-width: 700px)'  srcset='./img/kanso/process/process-desktop.svg')
                    img(src=''  alt='process' )

            include _include/work.pug

            #we
                                        
                .vw-inside
                    picture      
                        source(media='(min-width: 700px)' srcset='./img/kanso/we/we-wide.svg')        
                        source(media='(max-width: 700px)' srcset='./img/blank.svg')
                        img(src=''  alt='we' )

                .vw-100.margin-top-minus
                    picture      
                        source(media='(min-width: 700px)' srcset='./img/blank.svg')        
                        source(media='(max-width: 700px)' srcset='./img/kanso/we/we-mobile.svg')
                        img(src=''  alt='we' )




        include _include/footer.pug
        




