<!DOCTYPE html>
html(lang="en")
    
    include head.pug
    body

        include nav.pug

        .wide-view
            include law-desktop.pug

        .mobile
            include law-mobile.pug

        include footer.pug