footer.border-top.py-1
    
    .container
        .row.justify-content-between
            .col-4
                img(src="img/footer_logo.svg", alt="search", width="100%" srcset="")
            .col-2.pt-2
                include  ../_include/contact.pug