footer.mt-5.pt-5
    hr
    .container.pb-3
        .row.justify-content-between
            .col-4
                img(src="img/footer_logo.svg", alt="search", width="100%" srcset="")
            .col-2.align-middle
                include  ../_include/contact.pug