

nav#navbar.navbar.fixed-top.navbar-expand-md.d-flex
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon 
          <svg width="20px" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.57628e-07 2C-0.552284 2 -1 1.55228 -1 1C-1 0.447716 -0.552285 4.57267e-07 -2.66237e-07 4.33126e-07L12 -9.14109e-08C12.5523 -1.15552e-07 13 0.447715 13 1C13 1.55228 12.5523 2 12 2L3.57628e-07 2Z" fill="#F52D01"/>
          <path d="M-2.38419e-07 8C-0.552285 8 -1 7.55228 -1 7C-1 6.44772 -0.552285 6 -2.06632e-07 6L10 6C10.5523 6 11 6.44772 11 7C11 7.55228 10.5523 8 10 8L-2.38419e-07 8Z" fill="#F52D01"/>
          <path d="M-5.96046e-08 14C-0.552285 14 -1 13.5523 -1 13C-1 12.4477 -0.552285 12 -1.47027e-07 12L7 12C7.55228 12 8 12.4477 8 13C8 13.5523 7.55228 14 7 14L-5.96046e-08 14Z" fill="#F52D01"/>
          </svg>

    a#logo.navbar-brand(href='index.html')
      .align-top
          img(src="./img/kanso.svg", alt="kanso logo", width="30", height="30" )
  




    .collapse.navbar-collapse#navbarNavAltMarkup.justify-content-end
      ul.nav.nav-pills
        li.nav-item 
          a.nav-link(href='#services') SERVICES
        li.nav-item 
          a.nav-link(href='#approach') APPROACH 
        li.nav-item 
          a.nav-link(href='#process') PROCESS
        li.nav-item 
          a.nav-link(href='#work') OUR WORK
        li.nav-item 
          a.nav-link(href='#we') WHO WE ARE



.bg








//- nav#navbar.navbar.fixed-top.navbar-light
//-     .navbar-brand
//-         a(href="index.html")




//-     .nav-item
//-         ul.nav.nav-pills
//-             li.nav-item
//-                 a(href="./index.html#services") services
//-             li.nav-item 
//-                 a(href="./index.html#approach") approach
//-             li.nav-item 
//-                 a(href="./index.html#process") process
//-             li.nav-item 
//-                 a(href="#work") our work
//-             li.nav-item 
//-                 a(href="#we") who we are


//- <nav id="navbar" class="navbar fixed-top navbar-light bg-light">
//-   <a class="navbar-brand" href="#">Navbar</a>
//-   <ul class="nav nav-pills">
//-     <li class="nav-item">
//-       <a class="nav-link" href="#services">@fat</a>
//-     </li>
//-     <li class="nav-item">
//-       <a class="nav-link" href="#approach">@mdo</a>
//-     </li>
//-     <li class="nav-item dropdown">
//-       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
//-       <div class="dropdown-menu">
//-         <a class="dropdown-item" href="#one">one</a>
//-         <a class="dropdown-item" href="#two">two</a>
//-         <div role="separator" class="dropdown-divider"></div>
//-         <a class="dropdown-item" href="#three">three</a>
//-       </div>
//-     </li>
//-   </ul>
//- </nav>


