

nav#navbar.navbar.navbar-expand-md.d-flex.fixed-top
    button.navbar-toggler( onclick='menuButtonToggle(this)' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
        span
          .bar1
          .bar2
          .bar3


    a.navbar-brand(href='index.html')
      .align-top
          img(src="./img/kanso.svg", alt="kanso logo", width="30", height="30" )
  




    .collapse.navbar-collapse#navbarNavAltMarkup.justify-content-end
      ul.nav.nav-pills
        li.nav-item 
          a.nav-link(href='./index.html') HOme
        li.nav-item 
          a.nav-link(href='#work') OUR WORK 




.bg








//- nav#navbar.navbar.fixed-top.navbar-light
//-     .navbar-brand
//-         a(href="index.html")




//-     .nav-item
//-         ul.nav.nav-pills
//-             li.nav-item
//-                 a(href="./index.html#services") services
//-             li.nav-item 
//-                 a(href="./index.html#approach") approach
//-             li.nav-item 
//-                 a(href="./index.html#process") process
//-             li.nav-item 
//-                 a(href="#work") our work
//-             li.nav-item 
//-                 a(href="#we") who we are


//- <nav id="navbar" class="navbar fixed-top navbar-light bg-light">
//-   <a class="navbar-brand" href="#">Navbar</a>
//-   <ul class="nav nav-pills">
//-     <li class="nav-item">
//-       <a class="nav-link" href="#services">@fat</a>
//-     </li>
//-     <li class="nav-item">
//-       <a class="nav-link" href="#approach">@mdo</a>
//-     </li>
//-     <li class="nav-item dropdown">
//-       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
//-       <div class="dropdown-menu">
//-         <a class="dropdown-item" href="#one">one</a>
//-         <a class="dropdown-item" href="#two">two</a>
//-         <div role="separator" class="dropdown-divider"></div>
//-         <a class="dropdown-item" href="#three">three</a>
//-       </div>
//-     </li>
//-   </ul>
//- </nav>


