.p-5
section#we.pb-5.bg-bottom
    .container.pb-5
        h3.pb-4.animated.fadeInUp.delay-2s WHO WE ARE

        p 
            small We are a young design agency based out of Pune with a unique outlook and a desire to impact the world around us. We,ve helped improve customer experiences in restaurants, created inspiring environments for children, made events seem grand, helped government platforms grow, and even worked with lawyers to build innovative products for their customers.

        p 
            small Does your brand seem dated or needs a facelift? Can’t seem to boost sales online? Need an online management tool or are you trying to just showcase your brand? Well that's what we do… we ensure to bring the best out of your brand. We strive to excel businesses and improve relations by providing high quality customised solutions to complex problems.

        .py-4
            img(src="/img/kanso/we/anay.svg", alt="")

        .py-5.icons
            include  ../_include/contact.pug