section#work

    .container
        h3.pb-3 Our work
    .grid-container
        .homzhub(onclick="pageChange('homzhub')")
            h4
                | Homzhub 
                br
                small Desktop App 
        .duct(onclick="pageChange('duct')")
            h4
                | Duct Test App 
                br
                small Tablet App
        .motion(onclick="pageChange('motion')")
            h4
                | Motion Graphics Showreel 
                br
                small Video
        .law(onclick="pageChange('law')")
            h4
                | RIVERUS
                br
                small Law Analyics 
        .shop(onclick="pageChange('e-commerce')")
            h4  e-commerce
                
        .soon
            h4 More comming soon
                
