#work.vw-inside

    h4 OUR WORK
    .wide-view
        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 994.84 663.23')
            defs
                lineargradient#linear-gradient(y1='331.61' x2='971.61' gradientunits='userSpaceOnUse')
                    stop(offset='0' stop-color='#749bd1')
                    stop(offset='1' stop-color='#749bd1' stop-opacity='0')
                lineargradient#linear-gradient-2(x1='331.61' y1='331.61' x2='971.23' gradientunits='userSpaceOnUse')
                    stop(offset='0' stop-color='#3ea887')
                    stop(offset='1' stop-color='#3ea887' stop-opacity='0')
                lineargradient#linear-gradient-3(y1='663.23' x2='971.61' y2='331.61' gradientunits='userSpaceOnUse')
                    stop(offset='0' stop-color='#7f3f98')
                    stop(offset='1' stop-color='#749bd1' stop-opacity='0')
                lineargradient#linear-gradient-4(x1='331.61' y1='663.23' x2='971.23' y2='331.61' gradientunits='userSpaceOnUse')
                    stop(offset='0' stop-color='#de4f4f')
                    stop(offset='1' stop-color='#de4f4f' stop-opacity='0')
                lineargradient#linear-gradient-5(x1='663.23' y1='331.61' x2='971.84' gradientunits='userSpaceOnUse')
                    stop(offset='0' stop-color='#e2a851')
                    stop(offset='1' stop-color='#e2a851' stop-opacity='0')
                lineargradient#linear-gradient-6(x1='663.23' y1='663.23' x2='971.84' y2='331.61' gradientunits='userSpaceOnUse')
                    stop(offset='0' stop-color='#272727')
                    stop(offset='1' stop-color='#f5f5f5')
            
            g#Layer_2(data-name='Layer 2')
                g#Layer_1-2(data-name='Layer 1')
                a(href='./homzhub.html')
                    g
                        g(id='_5SBWn6.tif' data-name='5SBWn6.tif')
                            image(width='392' height='583' transform='translate(147.8 40.49) scale(0.47)' xlink:href='./img/work/works1.png')
                            rect(width='331.61' height='331.61' style='fill: url(#linear-gradient)')
                            text(transform='translate(27.28 281.59)' style='font-size: 26px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Bold, Barlow Semi Condensed;font-weight: 700;letter-spacing: 0.050007184899251544em')
                                | HOMZHUB

                            text(transform='translate(27.28 311.86)' style='font-size: 18px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Light, Barlow Semi Condensed;font-weight: 300;letter-spacing: 0.04599609375em')
                                | DESKTOP 

                a(href='./duct.html')
                    g
                        g(id='gVBDQJ.tif')
                        image(width='163' height='227' transform='translate(500.48 18.86)' xlink:href='./img/work/works2.png')
                        rect(x='331.61' width='331.61' height='331.61' style='fill: url(#linear-gradient-2)')
                        text(transform='translate(355.04 310.86)' style='font-size: 18px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Light, Barlow Semi Condensed;font-weight: 300;letter-spacing: 0.0090087890625em')
                            | TABLET APPLICATION
                            
                        text(transform='translate(355.04 247.22)'  style='font-size: 23px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Bold, Barlow Semi Condensed;font-weight: 700;letter-spacing: 0.04998887395641037em')
                            | DUCT TEST 

                            tspan(style='letter-spacing: 0.04em')
                            tspan(x='0' y='30') APPLICATION REDESIGN

                a(href='./law.html')
                    g
                        g(id='YKQmZl.tif')
                        image(width='571' height='551' transform='translate(30 340) scale(0.53)' xlink:href='./img/work/works3.png')
                        rect(y='331.61' width='331.61' height='331.61' style='fill: url(#linear-gradient-3)')
                        text(transform='translate(27.28 637.05)' style='font-size: 18px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Light, Barlow Semi Condensed;font-weight: 300;letter-spacing: 0.04599609375em')
                            | DESKTOP
                            
                        text(transform='translate(27.28 570.27)' style='font-size: 26px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Bold, Barlow Semi Condensed;font-weight: 700;letter-spacing: 0.050007184899251544em')
                            | RIVERUS 

                            tspan(style='letter-spacing: 0.06699973985586284em')
                            tspan(x='0' y='32') LAW ANALYTICS


                a(href='./e-commerce.html')
                    g   
                        rect(x='331.61' y='331.61' width='331.61' height='331.61' style='fill: url(#linear-gradient-4)')
                        text(transform='translate(363.97 596.95)' style='font-size: 26px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Bold, Barlow Semi Condensed;font-weight: 700;letter-spacing: 0.050007184899251544em') E - COMMERCE
                        
                a(href='./motion.html')
                    g
                        rect(x='663.23' width='331.61' height='331.61' style='fill: url(#linear-gradient-5)')
                        text(transform='translate(686.68 311.86)' style='font-size: 18px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Light, Barlow Semi Condensed;font-weight: 300;letter-spacing: 0.05em')
                            | VIDEO

                        text(transform='translate(686.68 251.06)' style='font-size: 26px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Bold, Barlow Semi Condensed;font-weight: 700;letter-spacing: 0.050007184899251544em')
                            | MOTION GRAPHICS

                            tspan(x='215.73' y='0' style='font-family: MyriadPro-Regular, Myriad Pro;font-weight: 400')  
                            tspan(style='letter-spacing: 0.04998887395641037em')
                            tspan(x='0' y='32') SHOWREEL

                
                g
                    rect(x='663.23' y='331.61' width='331.61' height='331.61' style='fill: url(#linear-gradient-6)')
                    text(transform='translate(684.68 596.95)' style='font-size: 26px;fill: #f7f7f7;font-family: BarlowSemiCondensed-Bold, Barlow Semi Condensed;font-weight: 700;letter-spacing: 0.050007184899251544em') MORE COMING SOON...


.mobile.vw-100
    include mobile_work.pug