section#work.pb-5.mb-5

    .container
        h3.pb-3 Our work
    .grid-container
        .homzhub(onclick="pageChange('homzhub')")
            h4
                | Homzhub 
                br
                small DESKTOP  
        .duct(onclick="pageChange('duct')")
            h4
                | Duct Test <br>Application Redesign 
                br
                small TABLET APPLICATION
        .motion(onclick="pageChange('motion')")
            h4
                | Motion Graphics Showreel 
                br
                small VIDEO
        .law(onclick="pageChange('law')")
            h4
                | RIVERUS Law <br> Analytics 
                br
                small DESKTOP
        .shop(onclick="pageChange('e-commerce')")
            h4  e-commerce
                
        .soon
            h4 More comming soon
                
