extends ../_extends/case.pug
block case-study
    .case-study-font
        img(src="img/duct/duct.png", alt="homzhub main image", width="100%" srcset="")

        .p-5.mt-5

            .pb-3
                svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                    rect(width='28' height='28' rx='1' fill='#D21919')

            h3 Air-condition duct test application

        .p-5
            hr
        
        .px-5
            h4 The duct test

            p A duct test measures the airtightness and leakages in the system which includes both the inside and outside of a cooled or heated space. By comparing the pressures and flow rates, the test is able to determine the total amount of leakage and the location of any leaks in the system. Such leakages could affect the cooling or heating potential of the system. This is mostly used for spaces which uses air-conditioning or a furnace.


        .px-5.pt-5
            h4 The application

            p This application was designed to be used by on feild repair personel for running a duct test. It may be used on a home or office air conditioning.  It helps the person to capture the data from the parameters of the test.


        img(src="img/duct/application.png", alt="application", width="100%" srcset="")


        .px-5.pt-5
            h4 Intuitive calender

            p The aim was to ensure easy accessibility to all the tasks in the month down to each day.



        img(src="img/duct/calender.png", alt="calender", width="100%" srcset="")


        .px-5.pt-5
            h4 Restructuring parameters

            p Taking all the information from the old design, we needed to regroup and rearrange certain parameters. This was based on relevance and accessiblity.


        img(src="img/duct/parameter.png", alt="parameter", width="100%" srcset="")


        .px-5.pt-5
            h4 Prominent CTAs / Fields

            p On feild personel have to run multiple tests in a day. To ensure the process was fast and hassle free, all the CTAs and input feilds were made larger and more tapable. This also ensures that a person using gloves could also operate it with ease.



        img(src="img/duct/fields.png", alt="fields", width="100%" srcset="")