extends ../_extends/case.pug
block case-study




    .py-5
    .container.position-relative
        .py-4
            .pt-5
                h4 Active contribution for design </br>in partnership with

            .py-3
                img(src="img/e-commerce/shoptimize.png", alt="shoptimize_logo", width="200px" srcset="")

        
        hr

        .py-4.mb-5
            p We helped the client with visual design of their ecommerce platforms with various clients while working hand in hand with their technical teams.


        .ecom-main
        
        



    
    .container
        .p-5


            .row.py-5
                .col-5
                    .py-2
                        img(src="img/e-commerce/cafe.png", alt="cafe_logo", width="100px" srcset="")

                    .py-2
                        h4 
                            small 
                                b Visual design for “shop” section of Cafe Coffee Day.</br>
                        p      
                            a(href="https://shop.cafecoffeeday.com/")
                                small cafecoffeeday.com
                
                .col
                    .py-5
                        img(src="img/e-commerce/cafe-ui-desk.png", alt="cafe_ui", width="120%" srcset="")


           
            hr
        
    
            .row.py-5

                .col
                    .py-5
                        img(src="img/e-commerce/style_ui_desk.png", alt="cafe_ui", width="110%" srcset="")


                .col-5
                    
                    .pt-5.mt-3
                        img(src="img/e-commerce/spicejetlogo.png", alt="spicejetlogo", width="220px" srcset="")

                    .py-2
                        h4 
                            small 
                                b Visual design for Spicestyle shop
                        p      
                            a(href="https://www.spicestyle.com/")
                                small spicestyle.com
                






