extends ../_extends/case.pug
block case-study
    
    img(src="img/e-commerce/shop-ui.png", alt="e-commerce main image", width="100%" srcset="")

    .p-5

        
        
        img(src="img/e-commerce/shoptimize.png", alt="shoptimize_logo", width="40%" srcset="")
        h4 Active contribution for design in partnership with shoptimize

        

        .pt-3
            p We helped the client with visual design of their ecommerce platforms with various clients while working hand in hand with their technical teams.


    .p-5
        hr
    
    a(href="https://shop.cafecoffeeday.com/")
        .px-5
            img(src="img/e-commerce/cafe.png", alt="cafe_logo", width="100px" srcset="")

        img(src="img/e-commerce/cafe_ui.png", alt="flowchart", width="100%" srcset="")
        .px-5

            p Visual design for “shop” section of Cafe Coffee Day. 
                small click to redirect


    .p-5
        hr
    

    a(href="https://www.spicestyle.com/")
        .px-5.text-right
            img(src="img/e-commerce/spicejetlogo.png", alt="spicejetlogo.png", width="30%" srcset="")

        img(src="img/e-commerce/style_ui.png", alt="style_ui", width="100%"  srcset="")
        .px-5
            
            p Visual design for Spicestyle shop 
                small click to redirect
    



