extends ../_extends/case.pug
block case-study

    .py-5
    .container.position-relative
        .py-4
            .py-3
                img(src="img/homzhub/homzhub_logo.png", alt="homzhub_logo", width="200px" srcset="")
            
            h4 Property management and rental platform

            p Homzhub is a platform mainly for NRIs or other investors who own properties in India but do not live in the same town or country. It allows them to remotely list the property either for management or rental.


        
        hr

        .py-4
            h4 
                small 
                    b Brief

            p The client had already developed a initial prototype based on their vision but they felt it lacked face value and intuitiveness. The brief required us to restructure the existing interface to make it more usable and intuitive along and develop a modern visual language. 


        .homzhub-main
        
   

    hr

    .container  
        .py-5
            h4 
                small 
                    b User flows

            p Upon closer inspection we observed that their prototype had major experience drawbacks. Flows were broken frustrating the user. New user task flows were created based on the goals. This helped us understand the functioning of the product better as we pushed to make each process as smooth as possible.


            img(src="img/homzhub/flowchart-desk.png", alt="flowchart", width="100%" srcset="")

    hr

    .container  
        .py-5
            h4 
                small 
                    b Wireframes

            p With the acquired knowledge of the user journies the information architecture and interactions for each step had to be created. As the platform was information heavy, we aimed at restructuring the data and provide it to the user in smaller chunks which were relevant to him. While this imrpoved scanability to ensured that the user would not drop out.


    .wireframe
        



    .container 
        .py-5
            .top-vs-side
                .para
                    h4 
                        small 
                            b Top vs side navigation

                    p The visual language would reflect their brand colours and evoked trust, transparency and professionalism. More over it aimed at providing a clutter free and clean experience.




    .output
        .container
            .py-5.position-absolute
                .para.text-white
                    h4 
                        small 
                            b Output

                    p With a client adamant on having a side navigation system we strived for a better understanding. Our platform was more focused with limited topics of interest. A traditional top navigation is easier to scan and use. Thus being better suited.


        
    



    .post
        .container 
            .py-5
                .para
                    h4 
                        small 
                            b Post a property with ease

                    p The most crucial and longest process to the portal made easy. All information is fed to the user in small chunks to make it seem simple and short. These chunks help maintain the focus on particular information group.

                img(src="img/homzhub/post easy-1-2-3.png", alt="post easy", width="60%" srcset="")



    .seemless.my-5
        .container 
            .py-5
                .para
                    h4 
                        small 
                            b Seemless owner -tenant connect

                    p Mainly used by people with off shore properties, it required a communication between owner and tenant. An inbuilt widget system enabled that. The tenant and owner could connect and schedule visits or negotiate rent without having to ever call each other.




        







    .post-dashboard
        .container 
            .py-5
                .para
                    h4 
                        small 
                            b Comprehensive dashboard

                    p An owner can keep track of the properties and the finances. The tenant can keep a track of the viewed properties and later also keep a track of the finances of a rented one.

            

        









    .container 
        .py-5
            h4 
                small 
                    b Search

            p An owner can keep track of the properties and the finances. The tenant can keep a track of the viewed properties and later also keep a track of the finances of a rented one.




    img(src="img/homzhub/search-desk.png", alt="search", width="100%" srcset="")