extends ../_extends/case.pug
block case-study
    .py-5
    .container.position-relative

        
        
        .py-4
            .py-3
                img(src="img/law/riverus_logo.png", alt="riverus_logo", width="200px" srcset="")
            .pb-3.pt-5
                h4 Riverus law analytics

            p Riverus is a legal data analytics platform which uses machine learning to identify and display legal data in an easy-to-use manner. Currently, their first product is for Income Tax Laws.




        
        hr

        .py-4
            h4 
                small 
                    b Brief

            p The client came to us with an initial need for a visual upgrade. Scope later unfolded into redesigning the entire product with the addition of newer features. With the goal of being portrayed as more professional and up to date, this was a necessary step for their growth. This would also help attract more clientele.


        .law-main    

    hr


    .container  
        .py-5
            h4 
                small 
                    b Our journey with income tax law

            p This project has got to be the most unique we’ve worked on. Income tax law is a dense subject. Taking people years to study and practice, it was a mammoth task to even scratch the surface of this topic. With a traditional project having a linear process, we had to grow with this product. Each process moving back and forth as the product and our understanding evolved over time.


        

    .py-5
    .container.position-relative

        //img(src="img/law/wireframes.png", alt="muli", width="100%" srcset="")
        .py-4
            
            h4 Building a card system

            p An ever changing and evolving product meant we had to build a system to accomodate the vast amounts of information. We had to think ahead and build a system and not just a fixed wireframe. This meant we could still change and adjust according to the requirement even after adding visual design.




        
        hr

        .py-4
        
            p.info-text-red
                b Information grouped on cards to ensure maximum flexibility, scalability as the product evolved.

            .py-4
                svg(width='40%' viewbox='0 0 279 143' fill='none' xmlns='http://www.w3.org/2000/svg')
                    rect(y='13' width='136' height='120' rx='5' fill='#F3FBFF')
                    rect(x='48' y='68' width='81' height='58' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(x='6' y='18' width='39' height='47' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(x='6' y='68' width='39' height='58' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(x='48' y='18' width='38' height='47' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(x='90' y='18' width='39' height='47' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(opacity='0.6' x='144' y='13' width='135' height='120' rx='5' fill='#F3FBFF')
                    rect(opacity='0.6' x='177' y='18' width='59' height='108' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(opacity='0.6' x='151' y='78' width='21' height='48' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(opacity='0.6' x='151' y='31' width='21' height='44' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(opacity='0.6' x='151' y='18' width='21' height='10' rx='3' fill='#91CDE2' fill-opacity='0.5')
                    rect(opacity='0.6' x='240' y='93' width='35' height='33' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(opacity='0.6' x='240' y='56' width='35' height='33' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    rect(opacity='0.6' x='240' y='18' width='35' height='34' rx='4' fill='#91CDE2' fill-opacity='0.5')
                    line(x1='151.25' x2='151.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='160.25' x2='160.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='164.25' x2='164.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='172.25' x2='172.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='177.25' x2='177.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='185.25' x2='185.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='189.25' x2='189.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='198.25' x2='198.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='202.25' x2='202.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='211.25' x2='211.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='215.25' x2='215.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='224.25' x2='224.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='228.25' x2='228.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='236.25' x2='236.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='240.25' x2='240.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='249.25' x2='249.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='253.25' x2='253.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='262.25' x2='262.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='266.25' x2='266.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')
                    line(x1='275.25' x2='275.25' y2='143' stroke='#C80101' stroke-width='0.5' stroke-dasharray='3 5')


        .law-wireframe    

    










    .position-relative

        .law-mockup     
        
        .p-5
        .p-5
        .container.pt-5
            
                .py-5
                    .para
                        h4 Putting it together

                        p A marriage of the card system and a minimal visual design. For the infomation heavy platform, the visuals need to build flow through the typography. With little to no decor each element and colour needed a purpose to only enhance the functionality. The vast colour palatte helped draw attention but also maintain the neutral nature of the interface



                    .py-5
                        .text-center.py-3
                            img(src="img/law/muli.svg", alt="muli", width="80%" srcset="")










    .container.position-relative
        .py-5
            h4 A widget game

            p The card system gave birth to widgets. The chunks of grouped information were made noticible, accessible and interesting. Each widget allowed interaction to observe different touch points. This not only increased asthetic appeal but also broke the monotony of textual content of the product. 



            .py-5
                h4 
                    small 
                        b Analytics

                .text-center.py-4
                    img(src="img/law/widget_game_analytics.svg", alt="flowchart", width="100%" srcset="")


            .py-5
                h4 
                    small 
                        b Textual and interactive

                .text-center.py-4
                    img(src="img/law/widget_game_textual.svg", alt="flowchart", width="100%" srcset="")




    .container.my-5
        .py-5
            img(src="img/law/search_desk.png", alt="search_desk", width="100%" srcset="")

    
    .container.my-5
        .py-5
            img(src="img/law/extensive.png", alt="extensive", width="100%" srcset="")


    .container.my-5
        .py-5
            img(src="img/law/dashboard_and_legislation.png", alt="dashboard_and_legislation", width="100%" srcset="")

