<!DOCTYPE html>
html(lang="en")
    
    include  ../_include/head.pug
    body

        include  ../_include/nav.pug

        //- .wide-view
        //-     include law/law-desktop.pug

        //- .mobile
        //-     include law/law-mobile.pug


        picture.vw-100
            source(media='(min-width: 1500px)' srcset='./img/law/law-wide.svg')
            source(media='(max-width: 700px)' srcset='./img/law/law-mobile.svg')
            source(media='(min-width: 700px)'  srcset='./img/law/law-desktop.svg')
            img(src=''  alt='law' )



        include  ../_include/work.pug
        include  ../_include/footer.pug