extends ../_extends/case.pug
block case-study

    
    .video-bg

    .p-5

        h4 Motion Graphics showreel

        p We helped the client with visual design of their ecommerce platforms with various clients while working hand in hand with their technical teams.


    hr