extends ../_extends/case.pug
block case-study


    .video-bg
        video( id="video1",  autoplay, controls)

            source(src='img/showreel.mp4' type='video/mp4')
            |   Your browser does not support the video tag.
     

    .text-white.motion-text.px-3.py-4
        .px-5
            h6 Kanso design works
            h4 Motion Graphics showreel

        
